/*************welcome***************/
#welcome {
    width: 800px;
    height: 400px;
    z-index: 1000;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -400px;
    perspective-origin: 200px;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    perspective: 200px;
    perspective-origin: center;
    cursor: pointer;
}
@keyframes fade-in {
    from { opacity: 0; }
    50%  { opacity: 0.5; }
    to   { opacity: 1; }
}
@-webkit-keyframes fade-in {
    from { opacity: 0; }
    50%  { opacity: 0.5; }
    to   { opacity: 1; }
}
#welcome:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
    margin: -30px;
    perspective: 200px;
    perspective-origin: center;
}
#welcome p {
    color: gray;
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: Blackadder ITC;
}
.welcome-title {
    opacity: 0;
    height: 100%;
    background: url(../images/welcome.png);
    animation-name: welcome-text;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes welcome-text {
    from { opacity: 1;transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, -50000, 1); }
    50%  { opacity: 1;transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, -25000, 1); }
    to   { opacity: 1;transform: matrix(1, 0, 0, 1, 0, 0); }
}
@-webkit-keyframes welcome-text {
    from { opacity: 1;transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, -50000, 1); }
    50%  { opacity: 1;transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, -25000, 1); }
    to   { opacity: 1;transform: matrix(1, 0, 0, 1, 0, 0); }
}
.start {
    color: white;
    position: absolute;
    cursor: pointer;
    right: 70px;
    bottom: 20px;
    font-family: Blackadder ITC;
}
.breath-light {
    opacity: 0.8;
    overflow: hidden;
    animation-name: breath;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes breath {
    from { opacity: 0.2; }
    50%  { opacity:   1; }
    to   { opacity: 0.2; }
}
@-webkit-keyframes breath {
    from { opacity: 0.5; }
    50%  { opacity:   1; }
    to   { opacity: 0.5; }
}
